<link rel='ractive' href='./CodeMirror.html'>

<div class='input'>
	{{#if showLabels}}
		<h2 on-mouseover='set("showLabels",false)' outro='fade:fast'>input</h2>
	{{/if}}

	<CodeMirror value='{{input}}' error='{{error}}'>
</div>

{{#if error}}
	<!-- <div class='error-container'> -->
		<div class='error' intro='slide:fast'>
			{{error.message}}
		</div>
	<!-- </div> -->
{{/if}}

<div class='output'>
	{{#if showLabels}}
		<h2 on-mouseover='set("showLabels",false)' outro='fade:fast'>output</h2>
	{{/if}}

	<CodeMirror value='{{output}}' readonly>
</div>


<style>
	.input, .output {
		position: relative;
		box-sizing: border-box;
	}

	.error {
		position: fixed;
		width: 100%;
		bottom: 0;
		padding: 0.5em;
		background-color: rgb(255,220,220);
		border-top: 1px solid rgb(200,0,0);
		color: rgb(200,0,0);
		z-index: 999;
	}

	.error-loc {
		position: relative;
	}

	.error-loc::before {
		position: absolute;
		content: '^';
		display: inline-block;
		bottom: -0.6em;
		left: -0.2em;
		/*background-color: rgb(200,0,0);
		color: white;*/
		background-color: white;
		color: rgb(200,0,0);
		font-size: 1em;
		font-weight: 500;
		/*width: 1em;
		height: 1em;*/
		/*padding: 0.1em;
		text-align: center;*/
		border-radius: 50%;
		-webkit-animation: pulse 1s infinite;
		animation: pulse 1s infinite;
	}

	.output .CodeMirror {
		background-color: #f4f4f4;
	}

	.output .CodeMirror-lines {
		cursor: default !important;
	}

	h2 {
		position: absolute;
		top: 1rem;
		right: 2rem;
		z-index: 2;
		font-family: 'Typo Round';
		font-size: 1rem;
		text-transform: lowercase;
		margin: 0;
		font-weight: 400;
		-webkit-transition: opacity 0.2s;
		transition: opacity 0.2s;
		border-radius: 2rem;
		padding: 0.5rem 1rem;
		background-color: #333;
		color: white;
		opacity: 0.8;
		z-index: 999;
		/*pointer-events: none;*/
	}

	@media (min-width: 768px) {
		.input, .output {
			width: 50%;
			height: 100%;
			float: left;
		}

		.error {
			bottom: 2em;
		}
	}
</style>


<script>
	import slide from 'ractive-transitions-slide';
	import fade from 'ractive-transitions-fade';

	component.exports = {
		data: () => ({
			error: null,
			showLabels: true
		}),

		oninit () {
			let lastError;
			let timeout;

			this.observe( 'input', input => {
				clearTimeout( timeout );

				try {
					this.set({
						output: buble.transform( input ).code,
						error: null
					});
				} catch ( err ) {
					timeout = setTimeout( () => {
						this.set( 'error', err );
					}, 400 );
				}
			});

			setTimeout( () => {
				this.set( 'showLabels', false );
			}, 8 * 1000 );
		},

		transitions: { fade, slide }
	};
</script>
